body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #f7f6f2;
    color: #333;
}

h1{
    text-align: center;
    padding: 20px 0;
    background-color: #dddcd8;
    margin: 0;
}
.contenedor{
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
