h1 {
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
}

body {
    background-color: black;
}

.contenedortres {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

.giftiktok, .imgtiktok {
    width: 300px;
}

.giftiktok img, .imgtiktok img {
    width: 100%; 
    height: auto;
}

.Volver {
    color: antiquewhite;
    text-align: center;
    width: 100%;
    height: auto;
}
