body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #726f63;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #dddcd8;
    margin: 0;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dddcd8;
}

.presentacion h1 {
    margin: 0;
    font-size: 28px;
}


/*################ contenedor ##############*/

.contenedor {
    display: flex;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
    width: 100%; /* ocupar todo el ancho */
}

/*################ columnas ##############*/

.columna {
    padding: 20px;
    box-sizing: border-box;
}

.izquierda {
    width: 30%;
    background-color: #e7e6e1;
}

.derecha {
    width: 50%;
}

/*################ COLUMNA EXTRA ##############*/

.extra {
    width: 50%;
    background-color: #d4d4d4;
}


/*################ columna izquierda ##############

ajustes de iconos, imagen y texto*/

.contactos p,
.idiomas p,
.gestion p {
    margin-left: 10px;
    margin-bottom: 10px;
}

.celular,
.correo,
.lugar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.correo a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}

.lugar p {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s;
}

.lugar p:hover {
    color: #77706e;
}

.lugar a {
    color: inherit;
    text-decoration: none;
}

.contactos h2 {
    font-size: 24px;
}

.contactos p {
    font-size: 20px;
}

.contactos img {
    width: 20px;
    height: auto;
}

.perfil img {
    max-width: 150px;
    display: block;
    margin-top: 20px;
}


/*################ GESTION E IDIOMAS ##############

ajustes de tamaño y espaciado en gestion e idiomas*/

.gestion h2,
.idiomas h2 {
    font-size: 20px;
}

.gestion p,
.idiomas p {
    font-size: 20px;
    line-height: 25px;
}


/*################ PERFIL, EDUCACION, EXPERIENCIAS ##############*/

.perfil h3 {
    font-size: 25px;
}

.perfil p,
.educaion p,
.experiencias p {
    font-size: 20px;
}
.extra img{
width: 100%;
max-width: 530px;
height: auto;
display: block;
margin-bottom: 10px;
}

/*instagram e tiktok*/
.instagram, .tiktok {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.instagram img, .tiktok img {
    width: 30px; 
    height: 30px; 
}

.instagram a, .tiktok a {
    text-decoration: none;
    color: black;
}
