h1 {
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
}

body {
    background-color: black;
}

.contenedortres {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

.giftiktok {
    width: 300px; 
}

.giftiktok img {
    width: 100%; 
    height: auto;
    display: flex;
}

.imgtiktok img {
    width: 100%; 
    height: auto;
    max-width: 1000px;
    display: flex;
}

.Volver {
    color: antiquewhite;
    text-align: center;
    width: 100%;
    height: auto;
}

.Volver img {
    color: antiquewhite;
}
