body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #f7f6f2;
    color: #333;
}

h1{
    text-align: center;
    padding: 20px 0;
    background-color: #dddcd8;
    margin: 0;
}
.contenedor{
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}
/*columnas*/
.columna{
    padding: 20px;
}
.izquierda{
    width: 35%;
    background-color: #e7e6e1;
}
.derecha{
    width: 75%;
}


/*################columna izquierda##############

ajustes de iconos, imagen y texto*/


.contactos img .contactos p,
.idiomas p, .gestion p {
    margin-left: 10px;
    margin-bottom: 10px;
}
.celular{
    display: flex;
    align-items: center;
    gap: 10px;
}
.correo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lugar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contactos h2{
    font-size: 24px;
}
.contactos p{
    font-size: 20px;
}
.contactos img{
    width: 20px;
    height: auto;
}
.perfil img{
    max-width: 150px;
    display: block;
    margin-top: 20px;
}



/*################GESTION E IDIOMAS##############

ajustes de tamaño y espaciado en gestion e idiomas*/


.gestion h2{
    font-size: 20px;
}
.gestion p{
    font-size: 20px;
    line-height: 25px;
}
.idiomas h2{
    font-size: 20px;
}
.idiomas p{
    font-size: 20px;
    line-height: 25px;
}

