h1{
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
}
body{
    background-color: black;
}

.contenedordos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gifinsta {
    width: 300px;
    height: auto; 
}

.gifinsta img {
    margin-left: 400px;
    width: 100%; 
    height: auto; 
}
.Volver{
    color: antiquewhite;
    text-align: center;
    width: 100%;
    height: auto;
}
.Volver img{
    color: antiquewhite;
}